# Database host
DB_HOST=""
# Database port
DB_PORT=""
# Database user
DB_USER=""
# Database password
DB_PASSWORD=""
# Database name
DB_NAME=""
# JWT Secret
JWT_SECRET=""
# Environment, e.g. "development"
APP_ENV=""